
<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0"/>
    <meta name="format-detection" content="telephone=no"/>
    <title>About us</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/about.css">
    <link rel="shortcut icon" href="/css/images/favicon.svg"/>
    <script src="/js/jquery-3.3.1.js"></script>
    <script src="/js/bootstrap.js"></script>
</head>
<body>
<%- include ('header') -%>
<div class="content">
    <div class="about_page">
        <div class="custom_container">
            <h1 class="page_title">About US</h1>
            <div class="page_description"></div>
        </div>
        <div class="custom_container">
            <div class="assortment_section">
                <div class="image_block" style="background: url(/images/banner-76-Points-Mobile-App-Development-All-Inclusive-Checklist-01.png) no-repeat"></div>
                <div class="info_block">
                    <div class="info_inner">
                        <div class="page_title">We connect people through food</div>
                        <div class="info_description">
                            Rooshe is a multisided platform that connects users to strictly vetted and talented home cooks. All through an innovative platform that allows users to purchase home-cooked meals while watching streaming of how the dish is prepared.
                            We offer a unique mix of concepts, where we combine social media, video content and the marketplace all together creating an opportunity to increase trust and build relationships between all sides of the platform.
                            Our platform gives an opportunity to order right at the moment of watching streams and videos with the help of in-video shopping. Our ML-based algorithm will match client’s needs, interests and lifestyle and find awesome food from the nearest location.

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="custom_container">
            <div class="page_title">What we did</div>
            <div class="faq_block">
                <ul class="faq_list">
                    <li>
                        <a href="" class="drop_btn"><span>EPIC Spring 2021 Incubator Program</span></a>
                        <div class="drop_block">
                            <div class="drop_inner">
                                Streameal (now Rooshe) had a privilege to participate in Spring 2021 Incubator Program of the Entrepreneurship and Product Innovation Center (EPIC) of the American University of Armenia (AUA).
                                <br />
                                Out of 36 applicant startups with a diverse range of startup ideas, ranging from agriculture to artificial intelligence, 8 startups were chosen to participate in the program including us.
                                <a href="/<%=lang%>/thisPage/epic">View details</a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <a href="" class="drop_btn"><span>2021 M1TQ Incubation Program</span></a>
                        <div class="drop_block">
                            <div class="drop_inner">
                                We passed a 12-week intensive idea-stage incubation program that prepares participants to shape their ventures, validate our business concepts, and build business models. During the program, we learned the lean startup methodology and have the opportunity to participate in workshops and benefit from advisory and mentorship sessions by seasoned entrepreneurs, AUA faculty and alumni. We worked with mentors not only from Armenia but from the U.S., Europe, Ukraine, and Southeast Asia.
                                <a href="/<%=lang%>/thisPage/m1tq">View details</a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="page_title">Our Values</div>
            <div class="our_block col-xl-9">
                <ul class="row">
                    <li class="col-lg-4">
                        <div class="our_title">Transparency</div>
                        <div class="our_description">Promote homemade food with transparency of cooking process through video/streaming</div>
                    </li>
                    <li class="col-lg-4">
                        <div class="our_title">Connecting people</div>
                        <div class="our_description">connecting cooking enthusiasts and foodies by creating new concept</div>
                    </li>
                    <li class="col-lg-4">
                        <div class="our_title">Empowering the potential</div>
                        <div class="our_description">Unlock the real potential of everyone who will be able to earn an income utilizing available resources from the comfort of their home</div>
                    </li>
                </ul>
            </div>
            <div class="page_title">Meet Our Team</div>
            <div class="team_block col-xl-9">
                <ul class="row">
                    <li class="col-lg-4 col-sm-6">
                        <div class="team_inner">
                            <img src="/images/Arshak.jpg" title="" alt="" />
                            <div class="info_team">
                                <div class="team_name">Arshak</div>
                                <div class="team_description">
                                    Seasoned full stack developer with over 12 years in the field։
                                    <br />
                                    Co-founder at SmartApaga LLC
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="col-lg-4 col-sm-6">
                        <div class="team_inner">
                            <img src="/images/Theresa.jpg" title="" alt="" />
                            <div class="info_team">
                                <div class="team_name">Theresa</div>
                                <div class="team_description">
                                    Hospitality professional with over 7 years experience.

                                    <br />
                                    Co-founder at hosprof.com
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="col-lg-4 col-sm-6">
                        <div class="team_inner">
                            <img src="/images/Suren.jpg" title="" alt="" />
                            <div class="info_team">
                                <div class="team_name">Suren</div>
                                <div class="team_description">
                                    6 years of business management experience in the agricultural industry

                                    <br />

                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="col-lg-4 col-sm-6">
                        <div class="team_inner">
                            <img src="/images/Hayk.jpg" title="" alt="" />
                            <div class="info_team">
                                <div class="team_name">Hayk</div>
                                <div class="team_description">
                                    Sales and Business Development Manager, with experience of more than 10 years

                                    <br />

                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="col-lg-4 col-sm-6">
                        <div class="team_inner">
                            <img src="/images/Iza-new.jpg" title="" alt="" />
                            <div class="info_team">
                                <div class="team_name">Iza</div>
                                <div class="team_description">
                                    Import and Logistics Manager with over 12 years experience

                                    <br />

                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="col-lg-4 col-sm-6">
                        <div class="team_inner">
                            <img src="/images/Anahit.jpg" title="" alt="" />
                            <div class="info_team">
                                <div class="team_name">Anahit</div>
                                <div class="team_description">
                                    UI/UX designer with over 7 years of experience.
                                    <br />

                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<%- include ('footer') -%>
<script src="/js/main.js"></script>
</body>
</html>