<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0"/>
    <meta name="format-detection" content="telephone=no"/>
    <title>About us</title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/about.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="shortcut icon" href="css/images/favicon.svg"/>
    <script src="js/jquery-3.3.1.js"></script>
    <script src="js/bootstrap.js"></script>
</head>
<body>
<?php
<%- include ('header') -%>
<div class="content">
    <div class="about_page">
        <div class="custom_container">
            <h1 class="page_title">About us</h1>
            <div class="page_description">Marketing, finance, and business tips for for cottage cooks, chefs, bakers, canners, jammers, and all food artisans.</div>
        </div>
        <div class="custom_container">
            <div class="assortment_section">
                <div class="image_block" style="background: url(images/banner-76-Points-Mobile-App-Development-All-Inclusive-Checklist-01.png) no-repeat"></div>
                <div class="info_block">
                    <div class="info_inner">
                        <div class="page_title">Ինչպե՞ս պատվիրել</div>
                        <div class="info_description">«Բուկինիստ» գրախանութների ցանցում ներկայացված են  Հայաստանում հրատարակված և Հայաստանի շուկայում առկա բոլոր գրքերը, հայերեն, ռուսերեն, անգլերեն և այլ լեզուներով օտարերկրյա հրատարակություններ՝ ինչպես թարգմանված, այնպես էլ՝ բնագիր: Ներկայացված տեսականու մեջ առկա են նաև բուկինիստական, հնատիպ գրքեր, գրենական պիտույքներ, զարգացնող խաղեր, դիդակտիկ նյութեր, բացիկներ, քարտեզներ և այլն:<br><br>Տեսականին մշտապես տատանվում է 30.000-40.000 անվանման միջակայքում, ընդգրկում է գիտելիքի բոլոր բնագավառները, ընթերցողական տարիքային բոլոր խմբերը՝ մանկական, գեղարվեստական և ոչ գեղարվեստական:</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="custom_container">

            <div class="faq_block">
                <div class="warning_block">
                    <div class="warning_title icon_info">Հարգելի հաճախորդ</div>
                    <div class="warning_description">տպագրության և տպագրական արդյունաբերության համար նախատեսված մոդելային տեքստ է: Սկսած 1500-ականներից` Lorem Ipsum-ը հանդիսացել է տպագրական արդյունաբերության ստանդարտ մոդելային տեքստ, ինչը մի անհայտ տպագրիչի կողմից տարբեր տառատեսակների օրինակների գիրք ստեղծելու ջանքերի արդյունք է: Այս տեքստը ոչ միայն կարողացել է գոյատևել հինգ դարաշրջան, այլև ներառվել է էլեկտրոնային տպագրության մեջ` մնալով էապես անփոփոխ: Այն հայտնի է դարձել 1960-ականներին
                    </div>
                </div>
                <ul class="faq_list">
                    <li>
                        <a href="" class="drop_btn"><span>Ինչպե՞ս պատվիրել</span></a>
                        <div class="drop_block">
                            <div class="drop_inner">
                                Ընտրում եք գիրքը, սեղմում եք ավելացնել, գնում եք աջ վերևի անկյունում գտնվող զամբյուղ,
                                սեղմում եք հաջորդ քայլ, լրացնում եք Ձեր տվյալները՝ Անուն, Ազգանուն, հեռախոսահամար, Էլ.
                                Հասցե, առաքման հասցե,Yerevan-ը լրացնում եք պարտադիր լատինատառ, ընտրում եք առաքման
                                ամսաթիվը, վճարման տարբերակը (Կանխիկ, քարտով կամ Իդրամով) սեղմում եք առաքման գումար –ի
                                վրա, սեղմում եք հաջորդ քայլ և հաստատում եք պատվերը:
                                <span>*Ձեզ անպայաման պետք է գա հաստատող նամակ՝ պատվերի դասիչով: Եթե նամակ չի եկել, ուրեմն պատվերը չի գրանցվել:</span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <a href="" class="drop_btn"><span>Առաքում Երևանում</span></a>
                        <div class="drop_block">
                            <div class="drop_inner">
                                Ընտրում եք գիրքը, սեղմում եք ավելացնել, գնում եք աջ վերևի անկյունում գտնվող զամբյուղ,
                                սեղմում եք հաջորդ քայլ, լրացնում եք Ձեր տվյալները՝ Անուն, Ազգանուն, հեռախոսահամար, Էլ.
                                Հասցե, առաքման հասցե,Yerevan-ը լրացնում եք պարտադիր լատինատառ, ընտրում եք առաքման
                                ամսաթիվը, վճարման տարբերակը (Կանխիկ, քարտով կամ Իդրամով) սեղմում եք առաքման գումար –ի
                                վրա, սեղմում եք հաջորդ քայլ և հաստատում եք պատվերը:
                            </div>
                        </div>
                    </li>
                    <li>
                        <a href="" class="drop_btn"><span>Առաքում մարզեր</span></a>
                        <div class="drop_block">
                            <div class="drop_inner">
                                Ընտրում եք գիրքը, սեղմում եք ավելացնել, գնում եք աջ վերևի անկյունում գտնվող զամբյուղ,
                                սեղմում եք հաջորդ քայլ, լրացնում եք Ձեր տվյալները՝ Անուն, Ազգանուն, հեռախոսահամար, Էլ.
                                Հասցե, առաքման հասցե,Yerevan-ը լրացնում եք պարտադիր լատինատառ, ընտրում եք առաքման
                                ամսաթիվը, վճարման տարբերակը (Կանխիկ, քարտով կամ Իդրամով) սեղմում եք առաքման գումար –ի
                                վրա, սեղմում եք հաջորդ քայլ և հաստատում եք պատվերը:
                                Ընտրում եք գիրքը, սեղմում եք ավելացնել, գնում եք աջ վերևի անկյունում գտնվող զամբյուղ,
                                սեղմում եք հաջորդ քայլ, լրացնում եք Ձեր տվյալները՝ Անուն, Ազգանուն, հեռախոսահամար, Էլ.
                                Հասցե, առաքման հասցե,Yerevan-ը լրացնում եք պարտադիր լատինատառ, ընտրում եք առաքման
                                ամսաթիվը, վճարման տարբերակը (Կանխիկ, քարտով կամ Իդրամով) սեղմում եք առաքման գումար –ի
                                վրա, սեղմում եք հաջորդ քայլ և հաստատում եք պատվերը:
                            </div>
                        </div>
                    </li>
                    <li>
                        <a href="" class="drop_btn"><span>Առաքում արտասահման</span></a>
                        <div class="drop_block">
                            <div class="drop_inner">
                                Ընտրում եք գիրքը, սեղմում եք ավելացնել, գնում եք աջ վերևի անկյունում գտնվող զամբյուղ,
                                սեղմում եք հաջորդ քայլ, լրացնում եք Ձեր տվյալները՝ Անուն, Ազգանուն, հեռախոսահամար, Էլ.
                                Հասցե, առաքման հասցե,Yerevan-ը լրացնում եք պարտադիր լատինատառ, ընտրում եք առաքման
                                ամսաթիվը, վճարման տարբերակը (Կանխիկ, քարտով կամ Իդրամով) սեղմում եք առաքման գումար –ի
                                վրա, սեղմում եք հաջորդ քայլ և հաստատում եք պատվերը:
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<%- include ('footer') -%>
<script src="js/main.js"></script>
</body>
</html>