<div class="footer">
    <div class="footer_bottom">
        <div class="custom_container">
            <div class="copyrights"><span><%=staticData.footer_stream%></span> <span><%=staticData.footer_right%></span></div>
            <div class="developer"><%=staticData.footer_des%><a href="https://inpoint.io/" target="_blank">𝕚𝕟𝕡𝕠𝕚𝕟𝕥</a></div>
        </div>
    </div>
</div>

<div class="preloader">
    <span></span>
</div>