<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0"/>
    <meta name="format-detection" content="telephone=no"/>
    <title>Stream meal</title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/index.css">
    <link rel="shortcut icon" href="css/images/favicon.svg"/>
    <script src="js/jquery-3.3.1.js"></script>
    <script src="js/bootstrap.js"></script>
</head>
<body>

<%- include ('header') -%>

<div class="content">
    <div class="main_screen">
        <div class="main_top">
            <a href="#" class="category_block nicotine_free">
                <img src="images/5fcf47cc0ff0404f51bc8630_3367077.jpg" alt="" title=""/>
                <span class="info_block">
					<span class="category_title icon_house"><span class="title_inner">FOODIES</span></span>
					<span class="category_description">Lorem ipsum dolor sit amet, consectetur</span>
				</span>
            </a>
            <a href="#" class="category_block movie_prod">
                <img src="images/desarrollo-web.png" alt="" title=""/>
                <span class="info_block">
				    <span class="category_title icon_foodie"><span class="title_inner">HOMECOOKS</span></span>
				    <span class="category_description">Lorem ipsum dolor sit amet, consectetur</span>
				</span>
            </a>
        </div>
    </div>
    <div class="custom_container">
        <div class="herbal_mixtures animation_block" style="background-image: url('images/web-apps-t.jpg')">
            <div class="info_block">
                <div class="info_inner">
                    <h2 class="page_title">A better way to build your food business</h2>
                    <div class="description_block">Focus on the food, we'll handle the rest. Castiron is a software
                        platform <span class="bold">purpose-built to help independent</span> food artisans start, build,
                        and grow their businesses.
                    </div>
                    <a href="/community" class="buy_now_btn">Join us</a>
                </div>
            </div>
        </div>
    </div>
    <div class="custom_container">
        <div class="block_title">
            <h1 class="page_title">BLOG</h1>
            <a href="blog">VIEW ALL</a>
        </div>
        <div class="small_banners">
            <div class="banner_block animation_block left_animation">
                <div class="banner_inner"
                     style="background-image: url('images/new-mobile-apps-blog.png')">
                    <h2 class="banner_title">lorem HERBAL SMOKING MIXTURES</h2>
                    <a href="news_inner.php" class="banner_btn">READ MORE</a>
                </div>
            </div>
            <div class="banner_block animation_block bottom_animation">
                <div class="banner_inner" style="background-image: url('images/social-listening-2.jpg')">
                    <h2 class="banner_title">lorem HERBAL SMOKING MIXTURES</h2>
                    <a href="news_inner.php" class="banner_btn">READ MORE</a>
                </div>
            </div>
            <div class="banner_block animation_block right_animation">
                <div class="banner_inner"
                     style="background-image: url('images/social-listening-tools-and-big-data.jpg')">
                    <h2 class="banner_title">lorem HERBAL SMOKING MIXTURES</h2>
                    <a href="news_inner.php" class="banner_btn">READ MORE</a>
                </div>
            </div>
        </div>
    </div>

</div>

<%- include ('footer') -%>

<script src="js/main.js"></script>
</body>
</html>