<%- include ('admin_profile_header') -%>

<h1>Add menu</h1>

<form action="/admin_profile/addMenu" method="post" class="userCont">
    <input type="text" name="name" placeholder="enter name " required>
    <button>Save</button>
</form>

<%- include ('admin_profile_footer') -%>